# Dependencies
node_modules/

# Output
.next/
dist/
out/
coverage/

# Env
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.DS_Store
.idea/
.vscode/*.log
.vscode/*.cache

# Others
.turbo/

node_modules
.turbo
